//main: "../blog.less"

.blog {
	.content {
		code {
			background-color: black;
			color: white;
			font-family: 'Courier New', Courier, monospace;
			display: block;
			border-radius: 10px;
			padding: 20px;
		}

		img {
			object-fit: contain;
			width: 100%;
		}
	}
}