@-webkit-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
:root {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
body h2 {
  font-size: 2rem;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
  cursor: pointer;
}
body a.scroll-anchor {
  color: white;
}
body .btn-primary {
  color: #76818d;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  border-color: #76818d;
  box-shadow: none;
  padding: 6px 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body .btn-primary:hover,
body .btn-primary:active {
  color: #eee;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
body .btn-primary:focus,
body .btn-primary.focus,
body .btn-primary.active,
body .btn-primary:active,
body a:link {
  box-shadow: none;
}
body .btn-primary i.fa {
  margin-right: 10px;
}
body .btn-primary:not(:disabled):not(.disabled):active,
body .btn-primary:not(:disabled):not(.disabled).active,
body .show > .btn-primary.dropdown-toggle {
  color: #eee;
  background-color: #2c3e50;
  border-color: #2c3e50;
  box-shadow: none;
}
body .btn-primary:not(:disabled):not(.disabled):active:focus,
body .btn-primary:not(:disabled):not(.disabled).active:focus,
body .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
body .pf-block {
  padding: 120px 0 100px;
}
body .pf-block-title {
  font-weight: 800;
}
body .pf-block-line {
  background: #E87E04;
  width: 100px;
  height: 3px;
  margin: 30px auto;
}
body .pf-block-text {
  text-align: justify;
  font-size: 20px;
}
body .hidden {
  display: none;
}
body .top-section {
  background: url(/images/cover_blurred.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
body .top-section .overlay {
  background-color: rgba(60, 77, 95, 0.5);
  background-image: url(/images/pattern.png);
  background-repeat: repeat;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
body .intro-image-block__image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
body .intro {
  text-align: center;
  margin-top: 10%;
}
body .intro-text-block {
  color: white;
}
body .intro-text-block__text {
  padding-top: 15px;
}
body .intro-text-block__middle-text {
  font: 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 5px 0 5px;
  font-weight: 800;
  display: block;
  padding: 15px 0;
}
body .scroll-down {
  width: 50px;
  height: 50px;
  color: white;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 25px);
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
body .scroll-down span {
  position: relative;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
body .main-menu {
  background-color: white;
}
body .main-menu .navbar-brand {
  font-weight: 600;
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  font-weight: 700;
  font-size: 22px;
  font-family: Lobster, cursive;
}
body .main-menu .navbar-nav a {
  font-size: 11px;
  letter-spacing: 3px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  line-height: 20px;
  font-weight: 300;
  color: black;
}
body .main-menu .navbar-nav a:hover {
  color: #E7746F;
}
body .main-menu .navbar-nav li.active a {
  color: #E7746F;
}
body .main-menu.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
body .main-menu.sticky + .about-me-section {
  padding-top: 186px;
}
body .about-me,
body .portfolio {
  background: #f5f5f5;
  text-align: center;
}
body .portfolio .companies-row .company-name {
  font-weight: 500;
  margin: 0 10px;
}
body .portfolio .companies-row .company-name:hover {
  color: #E87E04;
  cursor: pointer;
}
body .portfolio .companies-row .company-name.active {
  color: #E87E04;
}
body .portfolio .portfolio-container .row {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 440px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
body .about-me .download-resume {
  padding: 20px 0;
}
body .experience {
  background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 50%, #ffffff 100%);
  text-align: center;
}
body .experience .timeline {
  position: relative;
}
body .experience .timeline::before {
  position: absolute;
  content: "";
  left: 50%;
  width: 2px;
  background-color: #eeeeee;
  height: calc(100% - 50px);
  top: 10px;
}
body .experience .timeline .timeline-item {
  width: 50%;
  position: relative;
  margin: 10px 0 70px;
}
body .experience .timeline .timeline-item .dates-image {
  position: absolute;
  left: calc(100% - 75px);
  background-color: white;
  width: 150px;
  min-width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .experience .timeline .timeline-item .dates-image .date-from,
body .experience .timeline .timeline-item .dates-image .date-to {
  font-size: 18px;
}
body .experience .timeline .timeline-item .dates-image p {
  margin: 0;
}
body .experience .timeline .timeline-item-right {
  left: 50%;
  display: flex;
  flex-direction: row-reverse;
}
body .experience .timeline .timeline-item-right .dates-image {
  left: calc(-75px);
}
body .experience .timeline .timeline-item .position-description {
  padding: 0 5px;
}
body .experience .timeline .timeline-item .text {
  color: #576472;
  width: calc(100% - 75px);
}
body .experience .timeline .timeline-item .company-title,
body .experience .timeline .timeline-item .company-position {
  font-weight: 700;
  font-size: 18px;
}
body .experience .timeline .timeline-item .company-position {
  color: #E87E04;
}
body .contact-me {
  color: #f4f5f6;
  text-align: center;
  background-attachment: fixed;
  padding-left: 0;
  padding-right: 0;
}
body .contact-me .background-mask {
  background-color: rgba(60, 77, 95, 0.5);
}
body .contact-me .pf-block-subtitle {
  text-align: center;
}
body .contact-me .three-items-block {
  margin-top: 30px;
  text-shadow: 1px 1px 2px black;
}
body .contact-me .three-items-block a {
  color: #f4f5f6;
}
body .contact-me .leave-me-a-message {
  text-shadow: 1px 1px 2px black;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Raleway, sans-serif;
}
body .contact-me textarea {
  resize: none;
}
body .contact-me .social-icons .contact-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 8px;
}
body .contact-me .social-icons .contact-icon:hover {
  box-shadow: 1px 1px 4px gray;
}
body .contact-me .social-icons .row {
  justify-content: space-around;
}
body .contact-me .social-icons a {
  color: white;
}
body .contact-me .upwork-icon {
  text-shadow: none;
  background: url(/images/upwork-icon.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 10px;
}
body .contact-me .upwork-icon:hover {
  background: url(/images/upwork-icon-hover.png) no-repeat;
  background-size: contain;
}
body footer {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
}
body footer p {
  flex: 1;
  margin: 0;
  font-size: 18px;
}
/*fancy box styling*/
.quick-view-container {
  background: rgba(10, 10, 10, 0.85);
}
.quick-view-content {
  bottom: 0;
  height: calc(100% - 40px);
  left: 0;
  margin: auto;
  max-height: 850px;
  max-width: 1380px;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 40px);
}
/*--------------------------------   Carousel  -----------------------------*/
.carousel__container .owl-stage .owl-item .carousel__image {
  max-height: 600px;
  width: auto;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.modal .modal-dialog {
  max-width: 902px;
}
.modal .modal-dialog .modal-content {
  display: block;
}
.modal .modal-dialog .modal-content .button-absolute {
  display: none;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  justify-content: center;
}
.owl-carousel {
  max-width: 500px;
  padding: 15px;
}
.modal-content__left {
  width: 500px;
}
.modal-content__right {
  width: 400px;
  margin-top: 36px;
  padding: 0 15px;
}
.modal-content .modal-title {
  font-size: 1.25rem;
}
.modal-content .left-block__slider {
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  overflow: hidden;
}
.modal-content .left-block__slider .zoom img:hover {
  cursor: zoom-in;
}
.modal-content .right-block__header {
  text-align: center;
  font-size: 1.25rem;
}
.modal-content .right-block__content {
  text-align: justify;
}
.modal-content .right-block__content .responsibilities__list {
  text-align: left;
  padding-left: 0;
}
.modal-content .right-block__content .responsibilities__list li {
  margin-left: 20px;
}
.modal-content .close__button {
  left: -15px;
  position: relative;
  top: 12px;
  border: 1px solid black;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 1px 1px grey;
}
.technology-tag {
  background: darkblue;
  color: white;
  padding: 0 8px;
  border-radius: 100px;
  margin-right: 5px;
  box-shadow: 1px 1px 3px 0px grey;
  display: inline-block;
  user-select: none;
  margin-bottom: 5px;
}
.about-me-section :not(:last-child).technology-icon {
  margin-right: 5px;
}
.about-me-section .technology-icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
  background-position: center;
  background-size: contain;
}
.about-me-section .node-js {
  background-image: url('../images/node-js_30x30.png');
}
.about-me-section .python {
  background-image: url('../images/python_30x30.png');
}
.about-me-section .solidity {
  background-image: url('../images/solidity_30x30.png');
}
.main-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  padding: 10px 0;
}
.main-menu .pf-block {
  padding: 0;
}
.main-menu .content {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.main-menu .content__home-link {
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  font-family: Lobster, cursive;
  color: black;
}
.main-menu .content__list {
  display: flex;
  flex-basis: 55%;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: Raleway, sans-serif;
}
.main-menu .content__list .nav-item {
  padding: 10px 15px;
  color: black;
}
.main-menu .content__list .nav-item:hover {
  color: #E7746F;
}
.main-menu .content .navbar-toggler {
  display: none;
}
.main-menu .burger-content {
  display: none;
}
.portfolio .company-name:not(:last-child)::after {
  content: "|";
  position: relative;
  left: 10px;
}
.portfolio .company-name:hover::after {
  color: black;
}
.portfolio .company-name.active::after {
  color: black;
}
.portfolio .companies-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio .technologies-row {
  padding: 10px 0;
}
.portfolio .technologies-row .technology-tag.active {
  background-color: orange;
}
.portfolio .technologies-row .technology-tag:hover {
  cursor: pointer;
  background-color: orange;
}
.portfolio .technologies-row .technology-tag .counter {
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
  right: -8px;
  box-shadow: 1px 1px 1px black;
  border: 1px solid black;
}
.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(220, 220, 220, 0.9);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .project-item {
  position: relative;
  opacity: 1;
  background-color: white;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow-y: auto;
}
.modal .project-item .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.modal .project-item .header__close-button {
  position: absolute;
  background-image: url('/images/close_15x15.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  width: 30px;
  height: 30px;
  right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}
.modal .project-item .header__close-button:hover {
  box-shadow: 0px 1px 3px black;
}
.modal .project-item .content {
  display: flex;
  align-items: flex-start;
  padding: 0 10px 20px;
}
.modal .project-item .content__image {
  flex: 2;
}
.modal .project-item .content__description {
  flex: 3;
  padding: 0 10px;
  max-height: 500px;
  overflow: auto;
}
.modal .project-item .tags__title {
  padding: 10px 0;
}
.contact-me {
  background-image: url(/images/contact_us_background_blurred.jpg);
}
.contact-me .three-items-block {
  display: flex;
  justify-content: space-around;
}
.contact-me .social-icons {
  margin-top: 60px;
  display: flex;
  justify-content: right;
}
.contact-me .social-icons .social-icon {
  margin-left: 10px;
}
.contact-me .social-icons .facebook {
  background: url(/images/facebook-contact-icon.png) no-repeat;
}
.contact-me .social-icons .upwork {
  background: url(/images/upwork-contact-icon.png) no-repeat;
}
.contact-me .social-icons .linkedin {
  background: url(/images/linkedin-contact-icon.png) no-repeat;
}
.contact-me .form-control-input,
.contact-me .form-control-text-area {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
}
.contact-me .form-control-input {
  height: calc(1.5em + 0.75rem + 2px);
}
.contact-me .name-email-block {
  display: flex;
  justify-content: space-around;
}
.contact-me .name-email-block .input-block {
  flex-basis: 250px;
  flex-shrink: 1;
}
.contact-me .message-block {
  display: flex;
  justify-content: space-around;
}
.contact-me .message-block .message {
  flex-basis: 450px;
  flex-shrink: 1;
}
.contact-me .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-me .button-row {
  padding: 10px 0;
}
.contact-me .button-row .btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.contact-me .button-row .btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  cursor: pointer;
}
.contact-me .button-row .btn-outline-light:focus,
.contact-me .button-row .btn-outline-light:active {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.contact-me .message-form .label {
  display: inline-block;
  margin: 10px;
}
.contact-me .message-form .text-danger {
  color: red;
}
.contact-me .alert {
  position: fixed;
  top: 100px;
  right: 25px;
  padding: 20px;
  border-radius: 10px;
}
.contact-me .alert-success {
  background-color: #2bcb2b;
}
.contact-me .alert-danger {
  background-color: red;
}
.contact-me .alert .close {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}
.contact-me .alert .close::after {
  content: '×';
  position: relative;
  top: -2px;
  right: -1px;
}
.contact-me .alert .close:hover {
  background: white;
  color: black;
  border-radius: 50%;
}
.pf-block {
  width: 800px;
  margin: 0 auto;
}
.pf-block-text {
  text-align: justify;
  padding: 0 10px;
}
@media screen and (max-width: 800px) {
  body .main-menu.sticky + #AboutMe {
    padding-top: 126px;
  }
  body .intro-image-block__image {
    width: 180px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  body .intro-text-block__text {
    font-size: 20px;
  }
  body .intro-text-block__middle-text {
    font-size: 24px;
  }
  body .pf-block {
    padding: 60px 10px 40px;
    width: 100%;
  }
  body .pf-block-title {
    font-size: 20px;
  }
  body .pf-block-text {
    font-size: 16px;
  }
  body footer {
    height: 60px;
  }
  body footer p {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  body .experience .timeline::before {
    left: 12.5%;
  }
  body .experience .timeline .timeline-item {
    display: flex;
    flex-flow: row-reverse;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  body .experience .timeline .timeline-item-right {
    left: 0;
  }
  body .experience .timeline .timeline-item .dates-image {
    left: -75px;
  }
  body .experience .timeline .timeline-item .text {
    text-align: center;
  }
  body .owl-carousel {
    max-width: 100%;
  }
  body .modal .modal-dialog .modal-content__left {
    width: 100%;
  }
  body .modal .modal-dialog .modal-content__right {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
  }
  body .modal .modal-dialog .modal-content .button-absolute {
    display: inline-block;
  }
  body .modal .modal-dialog .modal-content .button-static {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  body .experience .timeline::before {
    left: 63px;
  }
  body .experience .timeline .timeline-item {
    width: 100%;
    flex-direction: row;
  }
  body .experience .timeline .timeline-item-right {
    left: 0;
  }
  body .experience .timeline .timeline-item .dates-image {
    position: static;
    width: 126px;
    min-width: 126px;
    height: 126px;
  }
  body .experience .timeline .timeline-item .dates-image .date-from,
  body .experience .timeline .timeline-item .dates-image .date-to {
    font-size: 18px;
  }
  body .experience .timeline .timeline-item .company-title img {
    width: 150px;
  }
  body .experience .timeline .timeline-item .text {
    padding-left: 15px;
  }
  body .owl-carousel {
    max-width: 400px;
    padding: 10px;
  }
  body .modal-content__left {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  body .owl-carousel {
    max-width: 340px;
    padding: 0px;
  }
  body .modal-content__left {
    width: 340px;
  }
}
@media screen and (max-width: 340px) {
  body .experience .timeline::before {
    left: 60px;
  }
  body .experience .timeline .timeline-item-right {
    left: 0;
  }
  body .experience .timeline .timeline-item .dates-image {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
  body .experience .timeline .timeline-item .dates-image .date-from,
  body .experience .timeline .timeline-item .dates-image .date-to {
    font-size: 14px;
  }
  body .experience .timeline .timeline-item .company-title img {
    width: 150px;
  }
  body .experience .timeline .timeline-item .text {
    padding: 0;
    width: 100%;
  }
}
@media screen and (min-width: 800px) and (max-height: 720px) {
  body .intro-image-block__image {
    width: 180px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  body .intro-text-block__text {
    font-size: 20px;
  }
  body .intro-text-block__middle-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 580px) {
  body .main-menu .content .navbar-toggler {
    display: inline;
  }
  body .main-menu .content__list {
    display: none;
  }
  body .main-menu .burger-content {
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
  }
  body .contact-me .message-form .name-email-block {
    display: block;
  }
  body .contact-me .message-block {
    display: block;
  }
  body .contact-me .three-items-block {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  body .modal {
    overflow-y: auto;
  }
  body .modal .project-item {
    max-height: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  body .modal .project-item .header {
    flex-grow: 0;
    flex-basis: 50px;
  }
  body .modal .project-item .content {
    flex-grow: 1;
    overflow: auto;
    display: block;
  }
  body .modal .project-item .content__image {
    display: block;
    margin: 0 auto;
  }
  body .modal .project-item .content__description {
    max-height: none;
  }
  body .portfolio .portfolio-container {
    padding: 10px 0;
    position: relative;
  }
  body .portfolio .portfolio-container .up-down-buttons {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 20px;
  }
  body .portfolio .portfolio-container .up-down-buttons .up {
    background-image: url('/images/up button_x_30.png');
    top: 0;
  }
  body .portfolio .portfolio-container .up-down-buttons .down {
    background-image: url('/images/down button_x_30.png');
    top: calc(100% - 80px);
  }
  body .portfolio .portfolio-container .up-down-buttons .up,
  body .portfolio .portfolio-container .up-down-buttons .down {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    background-position: center;
    border: 2px solid gray;
    border-radius: 50%;
    background-size: 15px;
    background-color: white;
  }
}
/*# sourceMappingURL=./main.css.map */